/* CSS Styles go here */

html {
  background-color: #040407;
}

body {
  font: 16px Helvetica, sans-serif, black;
  background-color: #fbfbf8;
  width: 820px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 1%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
}

body article header h1 {
  text-align: center;
}

body article header ul li {
  margin-left: 0px;
  margin-right: 15px;
  margin-bottom: -10px;
}

h1 {
  margin-bottom: -10px;
}

/* Removes underline and color from linkedin URL */
a:link {
  text-decoration: none;
  color: inherit, black;
}

#heading {
  margin-bottom: -5px;
}

#contact-info {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

#technical-skills div {
  margin-bottom: -10px;
}

#technical-skills #additional-skills {
  margin-bottom: 0px;
}

#align-left {
  float: left;
}

#align-right {
  float: right;
}
